.posts-page-header {
  min-height: 6rem;
  background: #000;
}

.post-header {
  background: #000;
  color: white;
  font-weight: 600;
  min-height: 4rem;
}

.post-header--action-button {
  background: transparent;
  color: white;
  outline: none;
  border: none;
}

.posts-page-header--title {
  color: white;
  font-weight: 500;
}

.posts-page-body {
  background: #fff;
  height: 100%;
}

.posts-page-body > div {
  width: 80%;
}

.content-wrapper {
  border: 1px solid lightgrey;
  min-height: 10rem;
}
